.maintextTitle {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #C33;
}

.maintext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
}

.maintext2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #06C;
	line-height: normal;
}
.maintext3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #309;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
}
.input {
	FONT-WEIGHT: normal; BACKGROUND: #ffffcc; COLOR: #333333
}
A.nav:link {
	TEXT-DECORATION: none
	COLOR: #069;
}
A.nav:visited {
	TEXT-DECORATION: none;
	COLOR: #069;
}
A.nav:hover {
	COLOR: #903;
	TEXT-DECORATION: underline
}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

/*
Author: TemplateAccess.com (DT/TS)
*/
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	background-color: #FFF;
}
html {
	padding:0;
	margin:0;
	color: #FFFFFFF
}

.main { margin:0 auto; padding:0;}
/********** header **********/
.header {  padding:0; margin:0 auto; width:962px;}
/* logo */
.logo {padding:0; margin:0; width:335px; float:left;}
/* rss */
.rss { text-align:right; width:215px; margin:0; padding:10px 10px 10px 0; float:left; font: normal 11px Arial, Helvetica, sans-serif; color:#7e7e7e; line-height:1.8em;}
.rss_img { float:left; margin:0; padding:20px 0 0 0;}
.rss_img img { margin:5px; padding:0;}
/*menu*/
.menu { padding:0; margin:0; float:right; width:530px;}
.menu ul { text-align:left; padding:50px 0 0; margin:0; list-style:none; border:0; float:right; height:29px;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0; height:29px;}
.menu ul li a { float:left; margin:0; padding:8px 0; color:#5e5e5e; font:normal 11px/13px Arial, Helvetica, sans-serif; text-decoration:none; }
.menu ul li a span { padding:12px 10px; background:none; }
.menu ul li a:hover, .menu ul li a.active { color:#fff; background:url(/orig_site/images/menu_r.png) no-repeat right; }
.menu ul li a:hover span, .menu ul li a.active span {color:#fff; background:url(/orig_site/images/menu_l.png) no-repeat left; }
/* FBG */
.FBG { padding:0; margin:0; border-top:20px solid #64d4ef;}
.FBG_resize { width:962px; margin:0 auto; padding:0;}
.FBG_resize img { float:left; margin:0; padding:0;}
.FBG_resize a { color:#317c91; text-decoration:none; font-weight:bold; }
.FBG_resize h2 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#b7b7b7; padding:10px 0; margin:0;}
.FBG_resize p {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#919191;
}
.FBG_resize ul { padding:0; margin:0; list-style:none;}
.FBG_resize li { padding:5px 0; margin:0; }
.FBG_resize li a { font:normal 11px Arial, Helvetica, sans-serif; color:#757575; padding:5px 0 5px 0; margin:0;text-decoration:none;}
.FBG_resize li a:hover { color:#317c91; text-decoration:none;}
.FBG_resize .blog { width:210px; float:left; margin:0; padding:15px 40px 15px 0;}
.FBG_resize .blog.last { padding:15px 0;}
/* body */
.body {
	background:#FFFFFF;
	color: #FFFFFF;
}
.body_resize {
	width:962px;
	padding:10px 0;
	margin:0 auto;
	color: #FFF;
}
.body h2 { font: normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#494949; padding:10px 0; margin:0 0 10px 0;}
.body h2 span {
	display:block;
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#FFF;
	padding:0;
	margin:0;
}
.body h3 { color:#4f4f4f; font: bold 24px "Trebuchet MS", Arial, Helvetica, sans-serif; border-bottom:1px solid #dbdbdb; padding:15px 0 15px 20px; margin:0; }
/* I changed this font size to 16 from 18*/
.body h4 { font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#2a2a2a; padding:5px 0; margin:0; border-bottom:none;}
.body .menu2 { width:170px; float:right; padding:0; margin:0;}
.body .menu2 a { font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#5d5d5d; text-decoration:none; padding:0 3px;}
.body .menu2 a:hover { color:#fff; background:#363636;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#848484; line-height:1.8em; padding:5px 0; margin:0;}
.body p.about { background:#e6e6e6; border-left:5px solid #cdcdcd; padding:20px; margin:15px 0; font: italic 12px Arial, Helvetica, sans-serif; color:#747474;}
.body p span { font-size:18px; font-weight:bold; color:#888;}
.body a { color:#317c91; text-decoration:none;}
.body img { margin:5px auto; padding:5px; background:#f8f8f8; border:1px solid #d4d4d4;}
.body img.floated { margin:10px 10px 5px 0; padding:0; padding:5px; background:#f8f8f8; border:1px solid #d4d4d4; float:left;}
.body img.none { float:left; margin:5px 5px 5px 0; padding:0; border:none; background:none;}
.right {  width:288px; margin:0; padding:10px 0; float:right;}
.right ul { margin:0; padding:0; list-style:none;}
.right li { border-bottom:1px solid #d0d0d0; padding:5px 0; margin:0;}
.right li a { font: normal 12px Arial, Helvetica, sans-serif; color:#747474; text-decoration:none;}
.right li a:hover { color:#2b6e80; text-decoration:underline;}
.left {  width:635px; margin:0; padding:10px 0; float:left;}
.port {width:280px; margin:10px 0; padding:0 61px 0 0; float:left;}
.portdouble {width:560px; margin:10px 0; padding:0 61px 0 0; float:left;}
.portfull {width:840px; margin:10px 0; padding:0 61px 0 0; float:left;}
.last { padding:0;}
/********** contact form **********/
#contactform { margin:0; padding:5px 0; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:400px; display:block; padding:5px 0; color:#737373; font: bold 12px Arial, Helvetica, sans-serif;  float:left; }
#contactform label span { color:#d66423; font-weight:bold; }
#contactform input.text { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:left; }
/*************footer**********/
.footer { width:962px; padding:20px 0; margin:0 auto; border-top:1px solid #313131;}
.footer p { font:normal 12px Arial, Helvetica, sans-serif; color:#707070;}
.footer a { font:bold 12px Arial, Helvetica, sans-serif; color:#707070; text-decoration:none; }
.footer p.right { text-align:right; width:350px; margin:0; padding:10px 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:10px 0; float:left;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
.bg { clear:both; padding:5px 0; margin:0; border-bottom:1px solid #ededed;}
/* Slider */
#slider { width:962px; padding:7px 0 0px; margin:0 auto; }
#slider .flash_slider { width:962px; height:416px; margin:0; overflow:hidden;}
/*-- Hedaer blog --*/
.header_text { padding:0;}
/* I changed this font size to 40 from 30*/
.header_text h4 { font:normal 30px Arial, Helvetica, sans-serif; color:#FFF; padding:30px 0; margin:0 auto; width:962px;}
.header_sm_text { background:#232323;}
.header_sm_text div { width:962px; margin:0 auto; padding:10px 0;}
.header_sm_text div p { color:#e1e1e1; font:normal 13px/15px Arial, Helvetica, sans-serif; padding:0; margin:0;}
.header_sm_text div span { display:block; color:#888888; font:normal 11px/13px Arial, Helvetica, sans-serif;}
.header_blog { padding:10px 0; margin:0;}
.slide_blog { width:300px; float:left; margin:10px 0; padding:0px 15px; background:url(/orig_site/images/h_bg_l.jpg) left repeat-y;}
.slide_blog.first { padding:0px 15px 5px 0; background:none;}
.slide_blog.last { padding:0px 0 5px 15px;}
.slide_blog img { float:left; margin:0; padding:20px 10px 20px 0;}
.slide_blog h3 { font:normal 18px Arial, Helvetica, sans-serif; color:#FFF; padding:10px 0; margin:0; border:0;}
.slide_blog p { font: normal 11px Arial, Helvetica, sans-serif; color:#e1e1e1; padding:0; margin:0; line-height:1.8em;}
