<% @page.title = '' %>
<%= render 'shared/sidebar' %>
<section id='body_content'>
  <div class="<%= overlap_class(@page) %>"></div>
  <div id="home-page">
    <%= render_content_page(@page, { :hide_sections => :side_body, :can_use_fallback => true }) %>
  </div>
  </section>
