<% @page.title = '' %>
<%= render '/sidebar' %>
<section id='body_content'>
  <div class="<%= overlap_class(@page) %>"></div>
  <div id="home-page">
    <%= render '/refinery/content_page' %>
  </div>
</section>
