<%= render 'shared/sidebar' %>
<section id='body_content'>
  <div class="<%= overlap_class(@page) %>"></div>
  <%=raw @page.content_for(:body) %>
  <%= render 'shared/gallery' if @page.content_for(:PhotoGallery) %>
</section>
