<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<p style="margin-top: 6px">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" />
<img src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />

<input type="hidden" name="cmd" value="_xclick" />
<input type="hidden" name="business" value="saintrockhaiti@gmail.com" />
<input type="hidden" name="item_name" value="Donation to support the Clinic in Saint Rock, Haiti" />
<input type="hidden" name="no_shipping" value="0" />
<input type="hidden" name="no_note" value="1" />
<input type="hidden" name="currency_code" value="USD" />
<input type="hidden" name="tax" value="0" />
<input type="hidden" name="lc" value="US" />
<input type="hidden" name="bn" value="PP-DonationsBF" />
</form>

<form action="/donations" method="post">
<table cellspacing="0" cellpadding="2" width="559" style="border-collapse: collapse">
<tr>
<td valign="top" colspan="2" style="border-bottom: 1px dotted #333333">
<p style="margin-left:0px; margin-right:6px; margin-top:0; margin-bottom:0">
You can also help us by pledging to support us and then mailing us your donation check to our address: 
</p>
<p style="margin-left: 40px; margin-bottom:6px"><em><strong>Saint Rock Haiti Foundation</strong>
<br />
108 Central Avenue<br />
Hull, MA 02045&#160;&#160;</em>
</p>
</td>
</tr>
<tr>
<td valign="top" colspan="2">&#160;</td>
</tr>
<tr>
<td valign="top"><strong>
Pledge Amount</strong>
</td>
<td>
<input size="10" name="PLEDGE_AMOUNT" style="font-weight: bold; background-color: #CCCCCC" class="textImport2" /></td>
</tr>
<tr>
<td valign="top">
<strong>Full Name</strong> </td>
<td>
<input size="26" name="FULL_NAME" />  </td>
</tr>
<tr>
<td valign="top">
<strong>Email</strong> </td>
<td>
<input size="30" name="EMAIL" /></td>
</tr>
<tr>
<td valign="top">
Company/Org </td>
<td><input size="35" name="Company" /> 
</td>
</tr>
<tr>
<td valign="top">
Tel </td>
<td><input size="35" name="UserTel" /> 
</td>
</tr>
<tr>
<td valign="top">
Address </td>
<td><input size="35" name="Address" /> 
</td>
</tr>
<tr>
<td valign="top">
City </td>
<td><input size="24" name="City" />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;

</td>
</tr>
<tr>
<td valign="top">
Province/State&#160; 
</td>
<td>

<input size="24" name="ProvState" />  </td>
</tr>
<tr>
<td valign="top">
Postal Code </td>
<td>

<input name="PostalCode" size="20" />  </td>
</tr>
<tr>
<td valign="top">
Note</td>
<td>

<textarea rows="4" name="S1" cols="46"></textarea>
</td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td colspan="2">

<input type="checkbox" value="ON" name="Recurring_Donation" /> 
Check here if this is likely to 
be a recurring donation.&#160;&#160;</td>
</tr>
<tr>
<td colspan="2"><table border="0" cellpadding="2" cellspacing="0" style="border-collapse: collapse" width="103%" id="AutoNumber1">
<tbody><td>&#160;</td>
<td>
<p style="margin-top: 0; margin-bottom: 0">
<input type="submit" value="Submit Pledge Form" name="Submit" /></p>
</td>
</tbody>
</table>
</td>
</td>
</tr>
<tr>
<td>&#160;</td>
<td>&#160;</td>
</tr>
</tbody>
</table>
</form>

