<% @page.image_pages.each_with_index do |sponsor_child_image, index| %>
  <div class="sponsor-child-image">
    <%= image_tag(sponsor_child_image.image.url) %>
  </div>
<% end %>
<div style="clear: left;"></div>
XX

