<% @page.image_pages.each_with_index do |sponsor_child_image, index| %>
  <div class="sponsor-child-image">
    <%= image_tag(sponsor_child_image.image.url) %><br/>
    <div class="sponsor-child-id">
      <%= sponsor_child_image.image.image_name.gsub(/CSR[0-9]+/).first %>
    </div>
  </div>
<% end %>
<div style="clear: left;"></div>

<form action="/sponsor_inquiries" method="post">
  
  <table height="150" cellspacing="0" cellpadding="2" width="559" style="border-collapse: collapse" id="table1">
    <tbody><tr>
      <td width="574" height="26" valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="574" height="26" valign="top" colspan="2" style="border-bottom: 1px dotted #333333">
<p style="margin-left:0px; margin-right:6px; margin-top:0; margin-bottom:0" align="left">
<font face="Verdana" style="font-size: 13px" color="#006699">I would like to sponsor one or more of these Children through</font><i><font face="Verdana" style="font-size: 13px" color="#006699"><b> Saint Rock Haiti Foundation. </b>&nbsp;Please 
tell me more.</font></i></p><p style="margin-left:0px; margin-right:6px; margin-top:0; margin-bottom:0" align="left">
<i><font face="Verdana" style="font-size: 13px" color="#006699">&nbsp;</font><font face="Verdana" style="font-size: 13px" color="#333333">&nbsp;</font></i></p></td>
    </tr>
    <tr>
      <td width="574" height="26" valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="150" height="26" valign="top"><b>
      <font face="Verdana" size="2" color="#006699">Enter Code(s)</font></b></td>
      <td width="424" height="26">
      <font color="#006699" face="Verdana">
      <input size="23" name="CHILD_CODE" style="font-weight: bold; background-color: #CCCCCC" class="textImport2"></font></td>
    </tr>
    <tr>
      <td width="79" height="26" valign="top">
      <font color="#006699">
      <b><font face="Verdana" size="2">Full</font></b><font face="Verdana" size="2"><b> Name</b> </font></font></td>
      <td width="424" height="26">
      <font color="#006699" face="Verdana">
      <input size="26" name="FULL_NAME"><span style="font-size: 13px"> </span></font> </td>
    </tr>
    <tr>
      <td width="79" height="25" valign="top">
      <font face="Verdana" size="2" color="#006699"><b>Email</b> </font></td>
      <td width="424" height="25">
      <font color="#006699" face="Verdana">
      <input size="30" name="EMAIL"></font></td>
    </tr>
    <tr>
      <td width="79" height="25" valign="top">
      <font face="Verdana" size="2" color="#006699">Tel </font></td>
      <td width="424" height="25"><font color="#006699" face="Verdana"><input size="35" name="UserTel"><span style="font-size: 13px"> </span></font>
      </td>
    </tr>
    <tr>
      <td width="79" height="25" valign="top">
      <font face="Verdana" size="2" color="#006699">Address </font></td>
      <td width="424" height="25"><font color="#006699" face="Verdana"><input size="35" name="Address"><span style="font-size: 13px"> </span></font>
      </td>
    </tr>
    <tr>
      <td width="79" height="23" valign="top">
      <font face="Verdana" size="2" color="#006699">City </font></td>
      <td width="424" height="23"><font color="#006699" face="Verdana"><input size="24" name="City"><span style="font-size: 13px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></font>
      </td>
    </tr>
    <tr>
      <td width="79" height="23" valign="top">
      <font face="Verdana" size="2" color="#006699">Province/State&nbsp; </font>
      </td>
      <td width="424" height="23">
      <font color="#006699" face="Verdana">
      <input size="24" name="ProvState"><span style="font-size: 13px"> </span></font> </td>
    </tr>
    <tr>
      <td width="79" height="23" valign="top">
      <font face="Verdana" size="2" color="#006699">Postal Code </font></td>
      <td width="424" height="23">
      <font color="#006699" face="Verdana">
      <input name="PostalCode" size="20"><span style="font-size: 13px"> </span></font> </td>
    </tr>
    <tr>
      <td width="79" height="23" valign="top">
      <font face="Verdana" size="2" color="#006699">Note</font></td>
      <td width="424" height="23">
      <textarea rows="4" name="COMMENTS" cols="50"></textarea></td>
    </tr>
    <tr>
      <td width="79" height="2"></td>
      <td width="424" height="2"></td>
    </tr>
    <tr>
      <td width="555" colspan="2" height="2"><table border="0" cellpadding="2" cellspacing="0" style="border-collapse: collapse" width="103%" id="table2">
        <tbody><tr>
          <td width="99%">
          <p style="margin-top: 0; margin-bottom: 0" align="center">
          <input type="submit" value="Submit Sponsor Inquiry Form" name="SubmitSponsor"></p></td>
        </tr>
      </tbody></table></td>
    </tr>
    <tr>
      <td width="79" height="1">&nbsp;</td>
      <td width="424" height="1">&nbsp;</td>
    </tr>
  </tbody></table>
</form>
