<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<nav id='<%= dom_id %>' class='<%= css %>'>
  <ul>
    <% if false # hardcoded menu for now %>

      <%= render :partial => '/refinery/menu_branch', :collection => roots,
                 :locals => {
                   :hide_children => hide_children,
                   :sibling_count => (roots.length - 1),
                   :menu_levels => local_assigns[:menu_levels],
                   :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                 } -%>
    <% else -%>
       <li>
         <a onmouseover="var img=document['fpAnimswapImgFP4'];img.imgRolln=img.src;img.src=img.lowsrc?img.lowsrc:img.getAttribute?img.getAttribute('lowsrc'):img.src;" onmouseout="document['fpAnimswapImgFP4'].src=document['fpAnimswapImgFP4'].imgRolln" href="index.html">
		<img src="/new/Site2/images/layout_05.gif" width="411" height="25" alt="" id="fpAnimswapImgFP4" name="fpAnimswapImgFP4" dynamicanimation="fpAnimswapImgFP4" lowsrc="new/over/layout_05.gif" border="0"></a>
	</li>
	<li>
		<a onmouseover="var img=document['fpAnimswapImgFP5'];img.imgRolln=img.src;img.src=img.lowsrc?img.lowsrc:img.getAttribute?img.getAttribute('lowsrc'):img.src;" onmouseout="document['fpAnimswapImgFP5'].src=document['fpAnimswapImgFP5'].imgRolln" href="about-us">
		<img src="/new/Site2/images/layout_06.gif" width="411" height="24" alt="" id="fpAnimswapImgFP5" name="fpAnimswapImgFP5" dynamicanimation="fpAnimswapImgFP5" lowsrc="new/over/layout_06.gif" border="0"></a>
	</li>
	<li>
         <a onmouseover="var img=document['fpAnimswapImgFP6'];img.imgRolln=img.src;img.src=img.lowsrc?img.lowsrc:img.getAttribute?img.getAttribute('lowsrc'):img.src;" onmouseout="document['fpAnimswapImgFP6'].src=document['fpAnimswapImgFP6'].imgRolln" href="services">
         <img src="/new/Site2/images/layout_07.gif" width="411" height="24" alt="" id="fpAnimswapImgFP6" name="fpAnimswapImgFP6" dynamicanimation="fpAnimswapImgFP6" lowsrc="new/over/layout_07.gif" border="0"></a>
	</li>
	<li>
	  <a onmouseover="var img=document['fpAnimswapImgFP7'];img.imgRolln=img.src;img.src=img.lowsrc?img.lowsrc:img.getAttribute?img.getAttribute('lowsrc'):img.src;" onmouseout="document['fpAnimswapImgFP7'].src=document['fpAnimswapImgFP7'].imgRolln" href="news">
         <img src="/new/Site2/images/layout_08.gif" width="411" height="24" alt="" id="fpAnimswapImgFP7" name="fpAnimswapImgFP7" dynamicanimation="fpAnimswapImgFP7" lowsrc="new/over/layout_08.gif" border="0"></a>
	</li>
	<li>
         <a onmouseover="var img=document['fpAnimswapImgFP8'];img.imgRolln=img.src;img.src=img.lowsrc?img.lowsrc:img.getAttribute?img.getAttribute('lowsrc'):img.src;" onmouseout="document['fpAnimswapImgFP8'].src=document['fpAnimswapImgFP8'].imgRolln" href="photogallery">
         <img src="/new/Site2/images/layout_09.gif" width="411" height="24" alt="" id="fpAnimswapImgFP8" name="fpAnimswapImgFP8" dynamicanimation="fpAnimswapImgFP8" lowsrc="new/over/layout_09.gif" border="0"></a>
	</li>
	<li>
	  <a onmouseover="var img=document['fpAnimswapImgFP9'];img.imgRolln=img.src;img.src=img.lowsrc?img.lowsrc:img.getAttribute?img.getAttribute('lowsrc'):img.src;" onmouseout="document['fpAnimswapImgFP9'].src=document['fpAnimswapImgFP9'].imgRolln" href="contact-us">
         <img src="/new/Site2/images/layout_10.gif" width="411" height="21" alt="" id="fpAnimswapImgFP9" name="fpAnimswapImgFP9" dynamicanimation="fpAnimswapImgFP9" lowsrc="new/over/layout_10.gif" border="0"></a>
	</li>
    <% end -%>
  </ul>
</nav>
<% end -%>
