body {
  margin: 0;
}

#body_content {
  position: relative;
  #body_content_title {
    display: none;
  }
  h1 {
    font-size: 24pt;
  }

  #body {
    margin-top: 25px;
    margin-left: 250px;
    
    }
  }
  #menu {
    ul {
      list-style: none;
      padding-left: 20px;
    }
    a {
      color: rgb(150, 160, 180);
      text-decoration: none;
      text-transform:uppercase;
    }
  
  .image-align-left {
    margin-right: 40px;
  }
  #side_body {
    position: absolute;
    top: 0;
    left: 10px;
    width: 250px;
    p {
      color: #777;
      font-size: 14px;
    }
  }
}

#sponsor_a_child {
  background: url('/assets/sponsor.gif') no-repeat top left;
  width: 411px;
  height: 39px;
}

#photo_gallery {
  background: url('/assets/photogallery.gif') no-repeat top left;
  width: 411px;
  height: 39px;
}

#make_a_donation {
  background: url('/assets/donate.gif') no-repeat top left;
  width: 411px;
  height: 39px;
}

#footer {
  #footer-left {
    background: url('/assets/layout_29.gif') top left;
    width: 641px;
    height: 111px;
    float: left;
  }
  #footer-right {
    background: url('/assets/layout_32.gif') top left;
    width: 363px;
    height: 111px;
    float: left;
  }
  #footer-links {
    position: relative;
    left: 24px;
    top:  44px;
    font-family: Tahoma;
    font-size: 11px;
    color: #C0C0C0;
  }

  a {
    text-decoration:none;
    color: #C0C0C0;
  }
}
